page-verification {
  ion-content {
    background-image: url('../../../assets/imgs/AvengersEG.jpg');
    background-size: cover !important;
    text-align: center;
  }
  .content {
    background-color: bisque;
  }
  .team_button {
    background-color: darkred;
    color: goldenrod;
  }
}
