page-main {
    .content{
        background-color: lightgoldenrodyellow;
    }
    .title{
        color: cornsilk;
        text-align: center;
    }
    .team_button{
        background-color: darkred;
        color: goldenrod;
    }
    .logout{
        background-color: darkred;
        color: beige;
    }
}
