page-faq {
    ion-thumbnail{
        border: 2px double rgb(228, 10, 10);
        outline-color: black;
        padding-left: 20px;
        padding-right: 20px;
        background-color: azure;
        
    }
    .content{
        background-color: goldenrod;

    }

}
