page-clue0b {
    ion-content{
<<<<<<< HEAD
        background-image: url('../../../assets/imgs/blue1.jpg');
        background-size: cover!important;
        text-align: center;
    }
=======

        background-image: url('../../../assets/imgs/clue0b.jpej');
        background-size: cover!important;
        text-align: center;
    }
    .card{
        border: 1px double grey;
        outline-color: black;
        padding-left: 20px;
        padding-right: 20px; 
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    ul{
        list-style-type:none;
        background-size: cover!important;
        text-align: center;
    }
    ion-item{
        
>>>>>>> e74ef4bc05fe684b5d329c612568f5a768a04d2c
    }
