page-clue0b {
    ion-content{

        background-image: url('../../../assets/imgs/clue0b.jpg');
        background-size: cover!important;
        text-align: center;
    }
    .card{
        border: 1px double grey;
        border-radius: 20px;
        outline-color: black;
        padding-left: 20px;
        padding-right: 20px; 
        padding-top: 20px;
        padding-bottom: 20px; 
        background-color: rgb(121, 155, 219);
    }
    ul{
        list-style-type:none;
        background-size: cover!important;
        text-align: center;
    }
}
