<ion-header>
  <ion-navbar>
    <ion-title>THE BATTLEWORD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-card> <h1 class="font">
    Avengers see there is one more page and decipher using the Quantum Realm
    language. But they found a new mysterious clue and questions.
  </h1></ion-card>
    <ion-list>
    <ion-item class="A" text-wrap ><b>CLUES</b></ion-item>  
    <ion-item class="B" text-wrap>1. Ultron has mastery over mind, is approached by Iron-Man to seek
      yellow stone.</ion-item>  
    <ion-item class="A" text-wrap>2. Captain America and Red Skull are Men out of time, so he
          goes to The Hydra Empire, for one last battle.</ion-item>
    <ion-item class="B" text-wrap>3. Power stone not being
        blue, orange or red in colour would be approached by Nebula, to defeat Ronan at New Xandar.</ion-item>
    <ion-item class="A" text-wrap> 4. Reality is red, space in vault, time is green.</ion-item>
    <ion-item class="B" text-wrap>5. Hulk unleashes intellect and world breaker rage to take down Ego, and seek
        orange stone. </ion-item>
    <ion-item class="A" text-wrap> 6. Dormammu can control reality, is approached by Wong.</ion-item> 
    <ion-item class="B" text-wrap>7. Thor goes to the Deadlands to defeat Hela, and take blue stone in vault.</ion-item> 
    <ion-item class="A" text-wrap>8. Ultron has started transforming everyone into perfects.</ion-item> 
    <ion-item class="B" text-wrap>9. Ego has taken out all over environment, and transform into wasteland.</ion-item> 
  </ion-list>
  
  <h3>Solve it.</h3>
  <ion-list >
    <ion-card  class="container"*ngIf="visible0">
      <h3>The Man Out of time is approaching which villain?</h3>
      <ion-item>
        <ion-label floating>De-coded Answer</ion-label>
        <ion-input type="text" #cob1></ion-input>
       </ion-item>
       <button ion-button button color="energy" (click)="checkIn1()">Check</button>
      </ion-card>
    <ion-card class="card" *ngIf="visible1">
      <h3>Which villain rules the Deadland?</h3>
      <br>
      <ion-item>
        <ion-label floating>De-coded Answer</ion-label>
        <ion-input type="text" #cob2></ion-input>
      </ion-item>
      <br>
      <button ion-button button color="energy" (click)="checkIn2()">Check</button>
      </ion-card>
    <ion-card *ngIf="visible2">
      <h3>
        Ultron rule which territory?
      </h3>
      <ion-item >
        <ion-label floating>De-coded Answer</ion-label>
        <ion-input type="text" #cob3></ion-input>
      </ion-item>
      <button ion-button button color="energy" (click)="checkIn3()">Check</button>
      </ion-card>
    <ion-card *ngIf="visible3">
      <h3>Nebula is going after which villain?</h3>
      <ion-item >
        <ion-label floating>De-coded Answer</ion-label>
        <ion-input type="text" #cob4></ion-input>
        </ion-item>
        <button ion-button button color="energy" (click)="checkIn4()">Check</button>
      </ion-card>
    <ion-card *ngIf="visible4">
      <h3>Which remaining villain has power to control reality?</h3>
      <ion-item>
        <ion-label floating>De-coded Answer</ion-label>
        <ion-input type="text" #cob5></ion-input>
      </ion-item>
      <button ion-button button color="energy" (click)="checkIn5()">Check</button>
    </ion-card>
    <ion-card *ngIf="visible5">
      <h3>Where you can find zombies?</h3>
      <ion-item>
        <ion-label floating>De-coded Answer</ion-label>
        <ion-input type="text" #cob6></ion-input>
      </ion-item>
      <button ion-button button color="energy" (click)="checkIn6()">Check</button>
      <br>
    </ion-card>
  </ion-list>

  <div padding *ngIf="visible6">
    <button ion-button button color="secondary" outline (click)="signIn()">
      SUBMIT
    </button>
  </div>
  
  <button ion-button button large round block color="secondary" outline (click)="toNext()">
      Skip
    </button>
    <button ion-button (click)="logout()">logout</button>
  
  </ion-content>
