page-enter-team {
    #container{
        
        text-align: center;
        color:goldenrod;

    }
    ion-content{
        
        background-size: cover!important;
        text-align: center;
    }
    ion-item{
        
    }
    ion-thumbnail{
        background-color: darkgoldenrod;
    }
    ion-card{
        border: 1px dotted darkred;
   }
   ion-card-content{
       background-color: darkred;
    
   }
   .header{
       font-style: Georgia;
   
    }



}
