page-enter-team {
    #abc{
        
        text-align: center;
        color:goldenrod;

    }
    ion-content{
        
        background-size: cover!important;
        text-align: center;
    }
    ion-item{
        
    }
    ion-card{
        border: 1px dotted darkred;
   }
   ion-card-content{
       background-color: darkred;
    
}
ion-card-header{
   
}
.def{
    background-color: darkgoldenrod
}


}
