page-enter-team {
    ion-content{
        background-image: url('../../../assets/imgs/b12.jpg');
        background-size: cover!important;
        text-align: center;
    }
    ion-item{
        background-image: url('../../../assets/imgs/grad.png');
       
    }
    ion-card{
        background-image: url('../../../assets/imgs/b12.jpeg');
   }
   ion-card-content{
    background-image: url('../../../assets/imgs/89.jpg');
}
ion-card-header{
    background-image: url('../../../assets/imgs/89.jpg');
}
}
