page-clue0a {
    ion-content{
        background-color: goldenrod;
        background-size: cover!important;
        text-align: center;
    }
    .content{
        background-color:wheat; 
    }
    .card{
        border: thick double darkred;
    }
    h3{
       
        color:darkred;
    }
    .button{
        color: darkred;
        border: thick double darkred;
    }
}
