<ion-header>
  <ion-navbar>
    <ion-title>Quantum Realm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   
    <img height="450px" width="100%" src="../../../assets/imgs/cc.PNG" />
    <h3>Decode the hidden text</h3>
    
    <div *ngIf="visible">
        <ion-card *ngFor="let clue of Clues; let i = index">
          <img width="100%" src="../../../assets/imgs/cc{{i}}.PNG" />
          <ion-item >
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #{{clue}}></ion-input>
          </ion-item>
        </ion-card>
      </div>
      <div padding>
          <button ion-button button color="energy" (click)="checkIn()">Check</button>
          <button ion-button button color="energy" (click)="signIn()">SUBMIT</button>
        <button ion-button button color="energy" (click)="tonext()">Skip</button>
      </div>

</ion-content>
