<ion-header>
  <ion-navbar>
    <ion-title>Quantum Realm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   
    <img height="450px" width="100%" src="../../../assets/imgs/cc.PNG" />
    <h3>Decode the hidden text</h3>
    
    <div>
        <ion-card *ngIf="visible0">
          <img width="100%" src="../../../assets/imgs/cc0.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #ccT></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn0()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible1">
          <img width="100%" src="../../../assets/imgs/cc1.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc1></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn1()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible2">
          <img width="100%" src="../../../assets/imgs/cc2.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc2></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn2()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible3">
          <img width="100%" src="../../../assets/imgs/cc3.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc3></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn3()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible4">
          <img width="100%" src="../../../assets/imgs/cc4.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc4></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn4()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible5">
          <img width="100%" src="../../../assets/imgs/cc5.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc5></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn5()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible6">
          <img width="100%" src="../../../assets/imgs/cc6.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc6></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn6()">Check</button>
        </ion-card>
        <ion-card *ngIf="visibleB">
          <img width="100%" src="../../../assets/imgs/cc7.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #ccB></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkInB()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible7">
          <img width="100%" src="../../../assets/imgs/cc7.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc7></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn7()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible8">
          <img width="100%" src="../../../assets/imgs/cc8.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc8></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn8()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible9">
          <img width="100%" src="../../../assets/imgs/cc9.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc9></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn9()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible10">
          <img width="100%" src="../../../assets/imgs/cc10.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc10></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn10()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible11">
          <img width="100%" src="../../../assets/imgs/cc11.PNG" />
          <ion-item>
            <ion-label floating>De-coded Answer</ion-label>
            <ion-input type="text" #cc11></ion-input>
          </ion-item>
          <button ion-button button color="energy" (click)="checkIn11()">Check</button>
        </ion-card>
        <ion-card *ngIf="visible12">
            <img width="100%" src="../../../assets/imgs/cc12.PNG" />
            <ion-item>
              <ion-label floating>De-coded Answer</ion-label>
              <ion-input type="text" #cc12></ion-input>
            </ion-item>
            <button ion-button button color="energy" (click)="checkIn12()">Check</button>
          </ion-card>
          
      </div>
      <div padding *ngIf="visible13">
          <button ion-button button color="energy" (click)="signIn()">SUBMIT</button>
        </div>
        
        <div>
        <button ion-button button color="energy" (click)="tonext()">Skip</button>
      </div>
    
    </ion-content>
