page-home {
    .countdown {
      width: 100%;
      height: 100px;

      .two-dots {
        display: none;
      }

      .measurements {
        background-color: lightcyan;
        color: midnightblue;
        margin-right: 0px;
        padding: 25px;
     }
          .divider {
      font-size: 30px;
     }
    }
    h1{
      padding: 10px;
      color: lightcyan;
      font-family: cursive;
      height: 10%;
    }
    
    #slide{
      height: 50%;
    }
    ion-content{
        background-image: url('../../assets/imgs/home_bg.jpg');
        background-size: cover!important;
        text-align: center;
        #about{
          text-align: left;
          color: burlywood;
        }
        #ventures{
          text-align: right;
          color: burlywood;
        }
        p{
          text-align:right;
          color: azure;
        }
        ul{
          text-align: left;
          color:azure;
        }
    }
    .card {
     color: lightgray;
      box-shadow: none;
      border: 4px;
      border-radius : 25px;
    }
}
