page-register {
    ion-content{
        background-image: url('../../../assets/imgs/blue.jpg');
        background-size: cover!important;
        text-align: center;
    }
    ion-item{
        background-image: url('../../../assets/imgs/white.jpg');
       
    }
    
}
