page-register {
    ion-content{
        background-color: navy ;
        background-size: cover!important;
        text-align: center;
    }
    ion-item{
      border-width: 5 px;
      padding: 4 px,4px;
      border-color: black;  
    }
    .submit-button{
        color: goldenrod;
        background-color: darkred;
    }
}