page-clue1{
  ion-content{
  background-image: url('../../../assets/imgs/hydra.jpg');
  background-size: cover!important;
  text-align: center;
  }
  ion-item{
  background-image: url('../../../assets/imgs/white.jpg');
 
  }
}