page-clue1{
  ion-content{
  background-size: cover!important;
  text-align: center;
  }
  .content{
    background-color: goldenrod;
  }
  ion-thumbnail{
    border: 3px dotted darkblue;
    background-color: rgb(231, 194, 99);
  }
  ion-card{
    background-image: url('../../../assets/imgs/hydra.jpg');
  }
  
  .button{
    background-color: darkblue;
    color: goldenrod;
  } 
}