page-clue1{
  ion-content{
  background-size: cover!important;
  text-align: center;
  }
  .content{
    background-color: goldenrod;
  }
  ion-thumbnail{
<<<<<<< HEAD
    border: thick double darkred;
=======
    border: 3px dotted darkblue;
>>>>>>> 744391bfcf5110d02e34f5dbb8e9e3977c827bf9
    background-color: rgb(231, 194, 99);
  }
  ion-card{
    background-image: url('../../../assets/imgs/hydra.jpg');
  }
  
  .button{
<<<<<<< HEAD
    
    color: aliceblue;
=======
    background-color: darkblue;
    color: goldenrod;
>>>>>>> 744391bfcf5110d02e34f5dbb8e9e3977c827bf9
  } 
}