page-aayam19 {
    ion-card{
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}
  .box{
  border: 1px solid black;
  width:50%;
  height:75%;
}
ion-grid {
  height: 100%;

  ion-row {
    height: 50%;
  }
}
.icons{
  font-size: 100px;
  padding-left: 10px;
  color: darkred;
  }
ion-thumbnail{
  border:1px dashed;
  
}
.card-title{
  text-align: center;
}
.content{
  background-color: goldenrod;
}
}
