page-qrcode {
    ion-content{
        
        background-size: cover!important;
        text-align: center;
    }
    ion-button{
        margin-left:auto;
        margin-right:auto;
        display:block;
        margin-top:auto;
        margin-bottom:auto;
    }
    .team_button{
        background-color: darkred;
        color: goldenrod;
    }
}
