page-clue3 {
    ion-content{
        background-image:  url('../../../assets/imgs/clue0b.jpg');;
        background-size: cover!important;
        text-align: center;
    }
    ion-input{
        font-size: 30px !important;  
        text-align: center;
    }
    ion-row{
        background-color: lightgrey;
        border: 2px solid darkblue;
    }

    ion-col{
        background-color:lightgoldenrodyellow;
        border: 2px solid darkblue;
    }
    ion-item {
        color: lightgray;
         box-shadow: none;
         border: 4px;;
       }   
    .A{
        background-color: darkred;
        color:rgb(230, 190, 89);
    }
    .B{
        background-color: rgb(230, 190, 89);
        color: darkred;
    }
    
    h2{
        color: goldenrod;
    }
    

}