page-clue4 {
    ion-content{
        background-image: url('../../../assets/imgs/blue1.jpg');
        background-size: cover!important;
        text-align: center;
    }
    ion-input{
        font-size: 30px !important;  
        text-align: center;
    }
    ion-row{
        background-image: url('../../../assets/imgs/white.jpg');
        border: 2px solid;
    }

    ion-col{
        background-image: url('../../../assets/imgs/white.jpg');
        border: 2px solid;
    }}
