page-events {
    ion-title{
      text-align: center;
      color: cornsilk;
    }
      ion-card{
    display: flex;
    flex-direction: column;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }
  ion-content{
    background-size: 100%;
  }
}
