page-events {
      ion-card{
    display: flex;
    flex-direction: column;
    
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }
  ion-content{
    background-image: url('../../assets/imgs/space.jpg');
    background-size: 100%;
    text-align: center;
}
ion-card {
  border-top: 3px solid black
}
}
